{
  "extends": ["airbnb", "plugin:vue/recommended"],
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "rules": {
    "linebreak-style": 0,
    "no-console": 0,
    "vue/no-v-html": 0,
    "no-new": 0
  },
  "plugins": [
    "vue"
  ]
}