.quality {
  margin: 0 0 8rem;

  @include respond-from('tablet-min') {
    margin: 0 0 3rem;
  }

  &__title {
    margin: 0 0 5rem;

    @include respond-from('tablet') {
      margin: 0 0 4rem;
      padding-left: 2.5rem;
    }
  }
}
