$font: $font-secondary;
$font-weight: 500;
$font-style: italic;

.exchange {
  margin: 0 0 11rem;

  @include respond-from("tablet-min") {
    margin: 0 0 6rem;
  }

  &__title {
    .heading {
      margin-bottom: 3.5rem;
      font-weight: $font-weight;
      font-family: $font;
      font-style: italic;
      line-height: 1.4;

      @include respond-from("tablet-min") {
        font-size: 2.5rem;

        br {
          display: none;
        }
      }

      span {
        color: $color-accent;
      }
    }
  }

  &__lead {
    display: none;
    margin-bottom: 3rem;
    font-weight: $font-weight;
    font-size: 1.1em;
    font-family: $font;
    line-height: 1.4;

    @include respond-to("tablet-large") {
      max-width: 54%;

      &:not(.mobile) {
        display: block;
      }
    }

    span {
      color: $color-accent;
    }

    &.mobile {
      @include respond-from("tablet-large") {
        display: block;
      }
    }
  }

  &__info {
    @include row();
  }

  &__content {
    @include respond-to("tablet-large") {
      @include col(1, 2);
    }

    @include respond-from("tablet-large") {
      order: 1;
    }
  }

  &__pic {
    margin: 0 0 3rem;

    @include respond-to("tablet-large") {
      @include col(1, 2);

      margin: -15rem 0 0;
    }

    img {
      max-width: 100%;
    }
  }

  &__text {
    ul {
      margin-left: 2.5rem;
      padding: inherit;
      list-style-type: inherit;
    }
  }

  &__button {
    margin-top: 3rem;

    .btn {
      padding: 1.4rem 7rem 1.6rem;
      font-weight: $font-weight;
      font-family: $font;

      @include respond-from("tablet-min") {
        width: 100%;
      }
    }
  }
}
