extends ../layout

block content
  include ../../components/header/template
  include ../../components/hero/template
  include ../../components/bullits/template
  include ../../components/tabs/template
  include ../../components/store/template
  //- include ../../components/exchange/template
  include ../../components/special/template
  //- include ../../components/deals-offer/template
  //- include ../../components/info-block/selection
  //- include ../../components/other-cars/template
  include ../../components/contacts/template
  include ../../components/footer/template
  request-form(model=activeModel)

block footer

