extends ../layout

block content
  include ../../components/header/template
  .privacy-policy
    .privacy-policy__container
      h1.privacy-policy__title Правила обработки персональных данных
      .privacy-policy__text
        p Настоящим даю свое согласие на обработку в ООО "«Ай-Бэ-Эм» Юг" (ИНН 7708379460), моих персональных данных. Настоящее согласие предоставляется на осуществление любых действий в отношении моих персональных данных.
        p Также выражаю согласие на получение от вышеуказанных  юридических лиц рекламы товаров, работ и услуг, распространяемых в дилерских центрах "Нижегородец", по сетям электросвязи, посредством использования телефонной, факсимильной связи, на рассылку рекламы (получение рекламы) посредством подвижной радиотелефонной связи (в соответствии с  Федеральным законом от 13 марта 2006 г. №38-ФЗ "О рекламе", Федеральным законом от 07.07.2003г. №126-ФЗ "О связи"). Также соглашаюсь на получение рекламы по сети подвижной радиотелефонной связи через оператора соответствующей подвижной радиотелефонной связи. Настоящее согласие не устанавливает предельных сроков обработки данных и сроки получения рекламы (рассылки рекламы), а также не ограничивает способы получения соответствующей рекламы, то есть посредством электронной почты, документальной рассылки, через сотовую связь, голосовым сообщением и проч. способами по моим реквизитам и контактным данным, указанным мной как в настоящем согласии, так и в иных документах (договорах, анкетах, заявлениях и проч.).
        p Я уведомлен и понимаю, что под обработкой персональных данных подразумевается  сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных и любые другие действия (операции) с персональными данными.(в соответствии с Федеральным законом от 27.07.2006 N 152-ФЗ "О персональных данных").
        p Также под персональными данными подразумевается любая информация, имеющая ко мне отношение как к субъекту персональных данных, в том числе фамилия, имя, отчество, дата и место рождения, адрес проживания, семейный статус, информация о наличии имущества, образование, доходы и любая другая информация. Даю с вое согласие на передачу моих персональных данных третьим лицам и получение моих персональных данных у третьих лиц в соответствии с действующим законодательством.
        p Мне разъяснены юридические последствия отказа предоставить свои персональные данные. Порядок отзыва согласия на обработку персональных данных и отзыва согласия на получение рекламы мне известны.
        p Мне было разъяснено, что операторы персональных данных ведут деятельность на территории Российской Федерации в соответствии с законодательством Российской Федерации. Предлагаемые товары/работы/услуги доступны к получению на территории Российской Федерации. Мониторинг потребительского поведения субъектов, находящихся за пределами Российской Федерации не ведется.
        p Я подтверждаю, что, давая такое Согласие, я действую своей волей и в своих интересах.
        p Я подтверждаю, что давая настоящее согласие на обработку персональных данных, я нахожусь на территории Российской Федерации. Настоящее  согласие  действует  со  дня  его подписания до дня отзыва в письменной форме.
  include ../../components/footer/template
  request-form(model=activeModel)
