-
  const config = require(`@root/config.json`);
  const currentYear = new Date().getFullYear();

footer.footer
  .container
    .footer__header © #{currentYear}, #{config.name}
    .footer__content
      p Общество с ограниченной ответственностью «Ай-Би-Эм» <br>Адрес: 650040,Кемеровская область, г. Кемерово, ул. Баумана 57 Б <br>ИНН: 4207055973   ОГРН: 1024200717320
      p Данный сайт носит информационный характер и ни при каких условиях материалы и цены размещенные на сайте не являются публичной офертой.
