section.bullits
  .bullits__inner
    .bullits__content
      .bullits__item
        .bullits__header(@click=`modalOpen({
          title: 'Заявка на тест-драйв',
          target: 'Заявка на Тест-драйв из буллитов',
          gtm_name: 'button-test-drive',
          yandex_id: 'zayavka'
        })`) Запись на тест-драйв
      .bullits__item
        .bullits__header(@click=`modalOpen({
          title: 'Заявка на покупку',
          target: 'Заявка на Покупки из буллитов',
          yandex_id: 'zayavka'
        })`) Купить CHERY
      .bullits__item
        .bullits__header(@click=`modalOpen({
          title: 'Заявка на кредит',
          target: 'Заявка на Кредит из буллитов',
          gtm_name: 'button-credit',
          yandex_id: 'zayavka'
        })`) Рассчитать кредит
      .bullits__item
        .bullits__header(@click=`modalOpen({
          title: 'Запрос на оценку авто',
          target: 'Заявка на оценку авто из буллитов',
          gtm_name: 'button-trade-in',
          yandex_id: 'zayavka'
        })`) Оценить свой авто
      .bullits__item
        .bullits__header(@click=`modalOpen({
          title: 'Заявка на кредит',
          target: 'Заявка на кредит из буллитов',
          gtm_name: 'button-online',
          yandex_id: 'zayavka'
        })`) Заявка на кредит

